<% provide(:title, "#{@room.room_name}" ) %>
<br>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <%= image_tag(@room.images.first.image ,class:'w-100') %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <h3><%= @room.room_name%></h3>
                    <p><%= @room.location %></p>
                </div>
                <div class="col-4 text-center">
                   <%= gravatar_for @user %>
                    <p><%= @user.name %></p>
                </div>
            </div>
            <hr>
           
            <div class="row">
                <div class="col-3 ">
                    <i class="fa fa-home fa-2x"></i>
                    <br>
                     <%= @room.home_type %>
                </div>
                <div class="col-3">
                    <i class="fa fa-users fa-2x"></i>
                    <br>
                     Guests
                </div>
                <div class="col-3">
                    <i class="fa fa-bed fa-2x"></i>
                    <br>
                     <%= @room.bathroom%>Bedrooms
                </div>
                <div class="col-3">
                    <i class="fa fa-bath fa-2x"></i>
                    <br>
                     <%= @room.bathroom%>Bathrooms
                </div>                                                
            </div>
            <hr>
             <div>   
                <h5>About this listing</h5>
                <%= @room.description %>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <h5>Amenities</h5>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <span>
                                <% if @room.tv == true %><p>TV</p><% else %><s>TV</s><% end %>
                            </span>
                        </div>
                        <div class="col-6">
                            <span>
                                <% if @room.kitchen == true %><p>Kitchen</p><% else %><s>Kitchen</s><% end %>
                            </span>
                        </div>
                        <div class="col-6">
                            <span class="del">
                                <% if @room.internet == true %><p>Internet</p><% else %><s>Internet</s><% end %>
                            </span>
                        </div>
                        <div class="col-6">
                            <span>
                                <% if @room.heating == true %><p>Heating</p><% else %><s>Heating</s><% end %>
                            </span>
                        </div>
                        <div class="col-6">
                            <span>
                            <% if @room.air_conditioner == true %><p>Air Conditioner</p><% else %><s>Air Conditioner</s><% end %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>   
            <hr>
            <div class="row">
                <div class="col-12">
                    <h5>
                        0 Reviews
                        <span id = "average_rating"></span>
                    </h5>
                    <div class="container">
                        <div>    
                            <div class="text-center">
                                <h4>There are no reviews.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel slide" data-ride="carousel" id="carousel-1">
                            <div class="carousel-inner" role="listbox">
                                <% @carousel.each do |image| %>
                                    <div class="carousel-item <%= image.id == @carousel.first.id ? 'active' : '' %>">
                                        <%= image_tag image.image, class: "mw-100 d-block gallery" %>
                                    </div>
                                <% end %>                    
                            </div>
                            <div>
                                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                                </a>
                            </div>
                            <ol class="carousel-indicators">
                                <% @carousel.each do |image| %>
                                    <li data-target="#carousel-1" data-slide-to="<%= image.id %>" class="active"></li>
                                <% end %>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mtb-2">
                <div class="col-12">
                    <div id="map" style="height: 600px;width: 600px;"></div>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLlV2LP0idYnVVGFbJPpoGxEISfa4bM6w&callback=initMap"></script>

                    <script type='text/javascript'>
                    function initMap() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                        var map = new google.maps.Map(document.getElementById('map'),{
                            center: location,
                            zoom: 20
                        });
                        
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><% if @room.images.present? %><%= image_tag @room.images.first.image, size: "400x200" %><%else%><p>No Image Found</p> <%end%></div>'
                        });

                        infoWindow.open(map, marker);
                    }
                    google.maps.event.addDomListener(window,'load', initMap);
                    </script>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-4 mt-5">
            <div class="card">
                <div class="card-header theme-color">
                    <div class="row">
                        <div class="col-8">
                            <span>$<%= @room.price%><span>
                        </div>
                    <div class="col-4">
                        <span>Per Night</span>
                    </div>
                </div>
            </div>    
            <div class="card-body"> 
                <%= form_for [@room, @room.bookings.new] do |f| %>
                    <div class="row">
                        <div class="col-6">    
                                <%= f.hidden_field :room_id, value: @room.id %>
                                <label>Check in</label>
                                <%= f.text_field :check_in_date, id: "check_in_date", class: "form-control", readonly: true, placeholder: "Check In Date" %>
                            </div>
                            <div class="col-6">
                                <label>Check out</label>
                                <%= f.text_field :check_out_date, id: "check_out_date", class: "form-control col-lg-10", readonly: true, placeholder: "Check Out Date", disabled: true %>
                            </div>
                        </div>
                    </div>
                        <h4 class="text-center unavailable mt-2"><span id="message"></span></h4>
                        <div id="preview" style ="display: none">
                        <table class="table">
                            <tr>
                                <td class="text-left">Price</td>
                                <td class="text-right">$<span id="room_price"><%= @room.price %></span></td>
                            </tr>
                            <tr>
                                <td class="text-left">Night(s)</td>
                                <td class="text-right">x<span id="nights"></span></td>
                            </tr>
                            <tr>
                                <td class="text-left">Total</td>
                                <td class="text-right">$<span id="total_price"></span></td>
                            </tr>
                        </table>
                    </div>
                    <%= f.submit "Book now", class:"btn btn-dark"%>
                <% end %>
            </div>
        </div>
    </div>    
</div>
<script>
    function checkSchedule(date){
        schedule = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
        return [$.inArray(schedule, unavailableDates) == -1];
    }

    $(function() {
        unavailableDates = [];

        $.ajax({
            url: '<%= check_current_bookings_room_path(@room) %>',
            dataType: 'json',
            success: function(data){
                console.log("Success");
                $.each(data, function(arrayID, arrayValue) {
                    for(var i = new Date(arrayValue.check_in_date); i <= new Date(arrayValue.check_out_date); i.setDate(i.getDate()+1)){
                        unavailableDates.push($.datepicker.formatDate('d-m-yy', i));
                    }
                })
                console.log(unavailableDates)
                $("#check_in_date").datepicker({
                    numberOfMonths:1,
                    dateFormat: 'dd-mm-yy',
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: checkSchedule,
                    onSelect: function(selectedDate) {
                        $("#check_out_date").datepicker("option", "minDate", selectedDate);
                        $('#check_out_date').attr("disabled", false);

                        var check_in = $('#check_in_date').datepicker('getDate');
                        var check_out = $('#check_out_date').datepicker('getDate');
                        var nights = (check_out - check_in)/1000/3600/24;

                        var input = {
                            'check_in_date': check_in,
                            'check_out_date': check_out
                        }

                        $.ajax({
                            url: '<%= review_booking_room_path(@room) %>',
                            data: input,
                            success: function(data){
                                if(data.conflict){
                                    $('#message').text('Selected Dates are Unavailable');
                                    $('#preview').hide();
                                    $('#reserve').attr('disabled', true)
                                } else {
                                    $('#message').text('Selected Dates are Available');
                                    $('#preview').show();
                                    $('#reserve').attr('disabled', false)
                                    if(check_in.getTime() == check_out.getTime()){
                                        nights = 1;
                                    }
                                }
                                var total_price = nights * <%= @room.price %>
                                $('#nights').text(nights);
                                $('#total_price').text(total_price);
                            }
                        })
                    }
                });

                $("#check_out_date").datepicker({
                    numberOfMonths:1,
                    dateFormat: 'dd-mm-yy',
                    minDate: 0,
                    maxDate: '3m',
                    beforeShowDay: checkSchedule,
                    onSelect: function(selectedDate) {
                        $("#check_in_date").datepicker("option", "maxDate", selectedDate);

                        var check_in = $('#check_in_date').datepicker('getDate');
                        var check_out = $('#check_out_date').datepicker('getDate');
                        var nights = (check_out - check_in)/1000/3600/24;

                        var input = {
                            'check_in_date': check_in,
                            'check_out_date': check_out
                        }

                        $.ajax({
                            url: '<%= review_booking_room_path(@room) %>',
                            data: input,
                            success: function(data){
                                if(data.conflict){
                                    $('#message').text('Selected Dates are Unavailable');
                                    $('#preview').hide();
                                    $('#reserve').attr('disabled', true)
                                } else {
                                    $('#message').text('Selected Dates are Available');
                                    $('#preview').show();
                                    $('#reserve').attr('disabled', false)
                                    if(check_in.getTime() == check_out.getTime()){
                                        nights = 1;
                                    }
                                }
                                var total_price = nights * <%= @room.price %>
                                $('#nights').text(nights);
                                $('#total_price').text(total_price);
                            }
                        })


                    }
                });
            }
        })
    });
</script>