<nav class="navbar navbar-expand-md fixed-top bg-light">
    <div class="body">
        <strong><%= link_to "y-airbnb",root_path,class:"nav-link text-dark" %></strong>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <input class="form-control mr-sm-2" type="search" placeholder="Where are you going?" aria-label="Search">
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" href="/rooms/new">Become a host</a>
            </li>
            <% if user_signed_in? %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                        <%= current_user.name %><b class="caret"></b>
                    </a>
                    <li class="nav-item ">
                        <%= link_to "Manage Listring","",class:"nav-link text-muted" %>
                    </li>
                    <li class="nav-item ">
                        <%= link_to "Lisst Your Space","",class:"nav-link text-muted" %>
                    </li>
                    <li class="nav-item ">
                        <%= link_to "Your Reservations","",class:"nav-link text-muted" %>
                    </li>
                    <br>
                    <li class="nav-item ">
                        <%= link_to "Edit Profile",edit_user_registration_path,class:"nav-link text-muted" %>
                    </li>
                    <br>
                    <li class="nav-item ">
                        <%= link_to "Profile",user_path(current_user.id),class:"nav-link text-muted" %>
                    </li>
                    <li class="nav-item ">
                        <%= link_to "Log Out",destroy_user_session_path,method: :delete,class:"nav-link text-muted" %>
                    </li>
                </li>
            <% else %>
                    <li class="nav-item ">
                        <%= link_to "Login",new_user_session_path ,class:"nav-link text-muted" %>
                    </li>
                    <li class="nav-item ">
                        <%= link_to "Sign up",new_user_registration_path,class:"nav-link text-muted"%>
                    </li>
            <% end %>
            </ul>
        </div>
    </div>
</nav>
           